{% extends "base.html" %}
{% load staticfiles %}
{% block  title %} Social-Football {% endblock %}

{% block content %}
{% if user.is_authenticated %}

<div class="row">
	<br/>
	<div class="col-md-4">
		<div class="panel panel-info">
			<div class="panel-heading">
				Accedeix al teu perfil
			</div>
			<div class="panel-body">
		<table>
			<tr>
				<td> {% if perfil.imatgePerfil %} <img class="img-responsive" alt="Imatge perfil" src="{{ perfil.imatgePerfil.url }}" width="70px" height="70px"/> {% else %} <img class="img-responsive" alt="Imatge perfil" src="{%static 'imatges/default.jpg' %}" width="70px" height="70px"/> {% endif %} </td>
				<td><a href="{% url 'perfil:tu' %}">{{ perfil.nom }} {{ perfil.cognoms }}</a></td>
			</tr>
		</table>
		</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				Facebook
			</div>
			<div class="panel-body">
				<div class="fb-like-box" width="330px" data-href="https://www.facebook.com/futbolsocial30" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="true" data-show-border="true"></div>
			</div>
		</div>
	</div>
	<div class="col-md-8">
		<div class="panel panel-info">
			<div class="panel-heading">
				Publicacions globals dels teus amics
			</div>
			<div class="panel-body">
				{% for publi in publicacions %}
				<div class="panel panel-primary">
					<div class="panel-heading">
						<a style="color: white;" href="{% url 'perfil:perfilAjeno' publi.usuari.id %}">{{ publi.usuari.nom }} {{ publi.usuari.cognoms }}</a> - {{ publi.dataHora }}
					</div>
					<div class="panel-body">
						{% if publi.imatge %}
						<p>
							<a href="{{ publi.imatge.url }}"><img class="img-responsive" alt="Imatge publicacio" src="{{ publi.imatge.url }}" width="200px" height="200px"/></a>
						</p>
						{% endif %}
						<p align="justify">{{ publi.text }}</p>
						<a href="https://twitter.com/share" class="twitter-share-button" data-related="avaquero30" data-url="http://www.socialfootball.cat/perfil/publicacio/{{ publicacio.id }}" data-lang="ca" data-size="large">Tuiteja</a>
				<br/>
				<div class="fb-like" data-href="http://www.socialfootball.cat/perfil/publicacio/{{ publicacio.id }}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
					</div>
					<div class="panel-footer">
						<button class="btn btn-info" data-toggle="modal" data-target="#coment" onclick="Comentar({{publi.id}})">
							<span class="glyphicon glyphicon-edit"></span> Comenta
						</button>
						<br/>
						<br/>
						{% for com in publi.comentari_set.all %}
						<div class="panel panel-success">
							<div class="panel-heading">
								<a href="{% url 'perfil:perfilAjeno' com.usuari.id %}">{{ com.usuari.nom }} {{ com.usuari.cognoms }}</a> - {{ com.dataHora }}
							</div>
							<div class="panel-body">
								<p align="justify">
									{{ com.comentari }}
								</p>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	
</div>

<div class="modal fade" id="coment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">Nou comentari</h4>
			</div>
			<div class="modal-body">
				<form action="" method="get" class="form-signin" enctype="multipart/form-data" role="form" tipus="publicacio" >
					{% csrf_token %}
					{% for field in com.visible_fields %}
					<div class="form-group">
						{{ field }}
					</div>
					{% endfor %}
					<input type="hidden" id="publicacio" name="publicacio" value=""/>
					<input class="form-control btn btn-primary" type="submit" value="Comenta" />
				</form>
			</div>
		</div>
	</div>
</div>

{% else %}
<div class="starter-template">
	<h1>Benvinguts a Social-Football</h1>
	<p class="lead">
		Utilitza aquesta eina per compartir fotografies, comentaris de partits etc...
		<br>
		Feu un bon ús d'aquesta aplicació!!
	</p>
	<p class="lead">
		Comença ara mateix a utilitzar l'aplicació, registrat
	</p>
	<a href="{% url 'accedir:registrarse' %}" class="btn btn-primary">Registrar-se</a>
	<br/><br/>
	<div class="fb-follow" data-href="https://www.facebook.com/futbolsocial30" data-colorscheme="light" data-layout="standard" data-show-faces="true"></div>
</div>
{% endif %}
{% endblock %}