{% extends "base.html" %}
{% load staticfiles %}

{% block  title %} Tu - Social-Football {% endblock %}

{% block content %}

<div class="row">
	<br/>
	<div class="col-md-3">
		<div class="panel panel-info">
			<!-- Default panel contents -->
			<div class="panel-heading">
				<span class="glyphicon glyphicon-info-sign"></span> Dades personals
			</div>
			<div class="panel-body">
				{% if perfil.imatgePerfil %}
				<img class="img-responsive" alt="Imatge perfil" src="{{ perfil.imatgePerfil.url }}" width="200px" height="200px"/>
				{% else %}
				<img class="img-responsive" alt="Imatge perfil" src="{%static "imatges/default.jpg" %}" width="200px" height="200px"/>
				{% endif %}
				<p></p>
				<p>
					<b>Nom:</b> {{ perfil.nom }}
				</p>
				<p>
					<b>Cognoms:</b> {{ perfil.cognoms }}
				</p>
				<p>
					<b>Data naixement:</b> {{ perfil.dataNaix }}
				</p>
				<p>
					<b>Equip actual:</b> {{ perfil.equip }}
				</p>

				{% if user.is_authenticated %}
				{% if pendent %}
				<span class="label label-default">Solicitud pendent</span>
				{% endif %}
				{% if amics %}
				<a href="{% url 'perfil:eliminar' linea %}" class="btn btn-danger">Eliminar</a>
				{% else %}
				<a href="{% url 'perfil:nouAmic' perfil.id %}" class="btn btn-success">Afegir com amic</a>
				{% endif %}
				{% endif %}
			</div>

		</div>

	</div>

	<div class="col-md-6">
		<div class="panel panel-info">
			<!-- Default panel contents -->
			<div class="panel-heading">
				Publicacions
			</div>
			<div class="panel-body">
				{% if publicacions %}
				{% for publicacio in publicacions %}
				
				<div class="col-md-12">
					<div class="panel panel-primary">
						<!-- Default panel contents -->
						<div class="panel-heading">
							{{ publicacio.dataHora }}
						</div>
						<div class="panel-body">
							{% if publicacio.imatge %}
							<p><img class="img-responsive" alt="Imatge publicacio" src="{{ publicacio.imatge.url }}" width="200px" height="200px"/>
							</p>
							{% endif %}
							<p align="justify">
								{{ publicacio.text }}
							</p>

						</div>
						<div class="panel-footer">
							{% if user.is_authenticated %}
							<button class="btn btn-info" data-toggle="modal" data-target="#coment" onclick="Comentar({{publicacio.id}})">
								<span class="glyphicon glyphicon-edit"></span> Comenta
							</button>
							<br/><br/>
							{% endif %}
							{% for comentari in comentaris %}
							{% if publicacio == comentari.publicacio %}
							<div class="panel panel-success">
								<div class="panel-heading">
									<a href="{% url 'perfil:perfilAjeno' comentari.usuari.id %}">{{ comentari.usuari.nom }} {{ comentari.usuari.cognoms }}</a> - {{ comentari.dataHora }}
								</div>
								<div class="panel-body">
									<p align="justify">
										{{ comentari.comentari }}
									</p>
								</div>
							</div>
							{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
				{% endfor %}
				{% else %}
				Encara no hi ha res publicat
				{% endif %}
			</div>

		</div>
	</div>
</div>

<div class="modal fade" id="coment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">Nou comentari</h4>
			</div>
			<div class="modal-body">
				<form action="" method="get" class="form-signin" enctype="multipart/form-data" role="form" tipus="publicacio" >
					{% csrf_token %}
					{% for field in form.visible_fields %}
					<div class="form-group">
						{{ field }}
					</div>
					{% endfor %}
					<input type="hidden" id="publicacio" name="publicacio" value=""/>
					<input class="form-control btn btn-primary" type="submit" value="Comenta" />
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}
