{% extends "base.html" %}
{% load staticfiles %}

{% block  title %} Tu - Social-Football {% endblock %}

{% block content %}

<div class="row">
	<br/>
	<div class="col-md-3">
		<div class="panel panel-info">
			<!-- Default panel contents -->
			<div class="panel-heading">
				Dades personals
			</div>
			<div class="panel-body">
				{% if perfil.imatgePerfil %}
				<img class="img-responsive" src="{{ perfil.imatgePerfil.url }}" width="200px" height="200px"/>
				{% else %}
				<img class="img-responsive" src="{%static "imatges/default.jpg" %}" width="200px" height="200px"/>
				{% endif %}
				<p>
				<p>
					<b>Nom:</b> {{ perfil.nom }}
				</p>
				<p>
					<b>Cognoms:</b> {{ perfil.cognoms }}
				</p>
				<p>
					<b>Data naixement:</b> {{ perfil.dataNaix }}
				</p>
				<p>
					<b>Equip actual:</b> {{ perfil.equip }}
				</p>

				{% if user.is_authenticated %}
				<a href="{% url 'perfil:nouAmic' perfil.id %}" class="btn btn-success">Afegir com amic</a>
				{% endif %}

			</div>

		</div>

	</div>

	<div class="col-md-6">
		<div class="panel panel-info">
			<!-- Default panel contents -->
			<div class="panel-heading">
				Publicacions
			</div>
			<div class="panel-body">

			</div>

		</div>
	</div>
</div>

{% endblock %}
