{% extends "base.html" %}
{% load staticfiles %}

{% block  title %} Tu - Social-Football {% endblock %}

{% block content %}

<div class="row">
	<br/>
	<div class="col-md-3">
		<div class="panel panel-info">
			<!-- Default panel contents -->
			<div class="panel-heading">
				Dades personals
			</div>
			<div class="panel-body">
				{% if perfil.imatgePerfil %}
				<img class="img-responsive" alt="Imatge perfil" src="{{ perfil.imatgePerfil.url }}" width="200px" height="200px"/>
				{% else %}
				<img class="img-responsive" alt="Imatge perfil" src="{%static "imatges/default.jpg" %}" width="200px" height="200px"/>
				{% endif %}
				<p></p>
				<p>
					<b>Nom:</b> {{ perfil.nom }}
				</p>
				<p>
					<b>Cognoms:</b> {{ perfil.cognoms }}
				</p>
				<p>
					<b>Data naixement:</b> {{ perfil.dataNaix }}
				</p>
				<p>
					<b>Equip actual:</b> {{ perfil.equip }}
				</p>

				{% if user.is_authenticated %}
				{% if pendent %}
				<b>Solicitud pendent</b>
				{% endif %}
				{% if amics %}
				<a href="" class="btn btn-danger">Eliminar</a>
				{% else %}
				<a href="{% url 'perfil:nouAmic' perfil.id %}" class="btn btn-success">Afegir com amic</a>
				{% endif %}
				{% endif %}
			</div>

		</div>

	</div>

	<div class="col-md-6">
		<div class="panel panel-info">
			<!-- Default panel contents -->
			<div class="panel-heading">
				Publicacions
			</div>
			<div class="panel-body">
				{% if publicacions %}
				{% for publicacio in publicacions %}
				<div class="col-md-12">
					<div class="panel panel-default">
						<!-- Default panel contents -->
						<div class="panel-heading">
							{{ publicacio.dataHora }}
						</div>
						<div class="panel-body">
							{% if publicacio.imatge %}
							<p><img class="img-responsive" alt="Imatge publicacio" src="{{ publicacio.imatge.url }}" width="200px" height="200px"/>
							</p>
							{% endif %}
							<p align="justify">
								{{ publicacio.text }}
							</p>
						</div>

					</div>
				</div>
				{% endfor %}
				{% else %}
					Encara no hi ha res publicat
				{% endif %}
			</div>

		</div>
	</div>
</div>

{% endblock %}
