{% extends "base.html" %}
{% load staticfiles %}

{% block  title %} Tu - Social-Football {% endblock %}

{% block content %}

<div class="row">
	{% if messages %}

	{% load bootstrap_tags %}
	{% for message in messages %}
	<div class="col-md-3 alert alert-{{ message.tags|bootstrap_tags }} alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		{{ message }}
	</div>
	
	{% endfor %}
	{% endif %}
</div>
<div class="row">
	<br/>
	<div class="col-md-3">
		<div class="panel panel-info">
			<!-- Default panel contents -->
			<div class="panel-heading">
				<span class="glyphicon glyphicon-info-sign"></span> Dades personals
			</div>
			<div class="panel-body">
				{% if perfil.imatgePerfil %}
				<img class="img-responsive" alt="Imatge perfil" src="{{ perfil.imatgePerfil.url }}" width="200px" height="200px"/>
				{% else %}
				<img class="img-responsive" alt="Imatge perfil" src="{%static "imatges/default.jpg" %}" width="200px" height="200px"/>
				{% endif %}
				<p></p>
				<p>
					<b>Nom:</b> {{ perfil.nom }}
				</p>
				<p>
					<b>Cognoms:</b> {{ perfil.cognoms }}
				</p>
				<p>
					<b>Data naixement:</b> {{ perfil.dataNaix }}
				</p>
				<p>
					<b>Equip actual:</b> {{ perfil.equip }}
				</p>

			</div>

		</div>

	</div>
	<div class="col-md-6">
		<div class="panel panel-info">
			<!-- Default panel contents -->
			<div class="panel-heading">
				Publicacions
				<button class="btn btn-info" data-toggle="modal" data-target="#publi">
					<span class="glyphicon glyphicon-edit"></span> Nova publicació
				</button>
			</div>
			<div class="panel-body">
				{% if publicacions %}
				{% for publicacio in publicacions %}
				<div class="col-md-12">
					<div class="panel panel-primary">
						<!-- Default panel contents -->
						<div class="panel-heading">
							{{ publicacio.dataHora }} <a href="{% url 'perfil:modificar' publicacio.id %}" class="btn btn-info"><span class="glyphicon glyphicon-edit"></span> Edita</a>
							-- Publicació:
							{% if publicacio.privat == True%}
							Privada
							{% else %}
							Pública
							{% endif %}
						</div>
						<div class="panel-body">
							{% if publicacio.imatge %}
							<p><img class="img-responsive" alt="Imatge publicacio" src="{{ publicacio.imatge.url }}" width="200px" height="200px"/>
							</p>
							{% endif %}
							<p align="justify">
								{{ publicacio.text }}
							</p>

						</div>
						<div class="panel-footer">
							<button class="btn btn-info" data-toggle="modal" data-target="#coment" onclick="Comentar({{publicacio.id}})">
								<span class="glyphicon glyphicon-edit"></span> Comenta
							</button>
							<br/>
							<br/>
							{% for comentari in comentaris %}
							{% if publicacio == comentari.publicacio %}
							<div class="panel panel-success">
								<div class="panel-heading">
									<a href="{% url 'perfil:perfilAjeno' comentari.usuari.id %}">{{ comentari.usuari.nom }} {{ comentari.usuari.cognoms }}</a> - {{ comentari.dataHora }}
								</div>
								<div class="panel-body">
									<p align="justify">
										{{ comentari.comentari }}
									</p>
								</div>
							</div>
							{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
				{% endfor %}
				{% else %}
				Encara no has publicat res
				{% endif %}
			</div>

		</div>
	</div>
	<div class="col-md-3">
		{% if peticions %}
		<div class="panel panel-info">
			<!-- Default panel contents -->
			<div class="panel-heading">
				Peticions d'amistat
			</div>
			<div class="panel-body">
				<table>

					{% for noms in nom %}
					{% with pet=idPeticio.pop %}
					<tr>
						<td>Peticio de: <a href="{% url 'perfil:perfilAjeno' link %}">{{ noms }}</a></td>
						<td><a href="{% url 'perfil:acceptarAmic' pet %}" class="btn btn-success">Acceptar</a><a href="{% url 'perfil:eliminar' pet %}" class="btn btn-danger">Denegar</a></td>
					</tr>
					{% endwith %}
					{% endfor %}
				</table>

			</div>
		</div>
		{% endif %}
		<div class="panel panel-info">
			<!-- Default panel contents -->
			<div class="panel-heading">
				<span class="glyphicon glyphicon-user"></span> Amics
			</div>
			<div class="panel-body">
				{% if amigos %}
				{% for amic in amigos %}
				<p>
					<a href="{% url 'perfil:perfilAjeno' ids.pop %}">{{ amic }}</a>
				</p>
				{% endfor %}
				{% else %}
				<p>
					Encara no tens amics
				</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>
</div>

<div class="modal fade" id="publi" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">Nova publicació</h4>
			</div>
			<div class="modal-body">
				<form action="" method="post" class="form-signin" enctype="multipart/form-data" role="form" tipus="publicacio" >
					{% csrf_token %}
					{% for field in form.visible_fields %}
					<div class="form-group">
						{{ field.errors }}
						{{ field.label_tag }} {{ field }}
					</div>
					{% endfor %}
					<input class="form-control btn btn-primary" type="submit" value="Crea" />
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="coment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">Nou comentari</h4>
			</div>
			<div class="modal-body">
				<form action="" method="get" class="form-signin" enctype="multipart/form-data" role="form" tipus="publicacio" >
					{% csrf_token %}
					{% for field in com.visible_fields %}
					<div class="form-group">
						{{ field }}
					</div>
					{% endfor %}
					<input type="hidden" id="publicacio" name="publicacio" value=""/>
					<input class="form-control btn btn-primary" type="submit" value="Comenta" />
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}
