{% extends "base.html" %}
{% load staticfiles %}

{% block  title %} Tu - Social-Football {% endblock %}

{% block content %}

<div class="row">
	<br/>
	<div class="col-md-3">
		<div class="panel panel-info">
			<!-- Default panel contents -->
			<div class="panel-heading">
				<span class="glyphicon glyphicon-info-sign"></span> Dades personals
			</div>
			<div class="panel-body">
				{% if perfil.imatgePerfil %}
				<img class="img-responsive" alt="Imatge perfil" src="{{ perfil.imatgePerfil.url }}" width="200px" height="200px"/>
				{% else %}
				<img class="img-responsive" alt="Imatge perfil" src="{%static "imatges/default.jpg" %}" width="200px" height="200px"/>
				{% endif %}
				<p></p>
				<p>
					<b>Nom:</b> {{ perfil.nom }}
				</p>
				<p>
					<b>Cognoms:</b> {{ perfil.cognoms }}
				</p>
				<p>
					<b>Data naixement:</b> {{ perfil.dataNaix }}
				</p>
				<p>
					<b>Equip actual:</b> {{ perfil.equip }}
				</p>

			</div>

		</div>

	</div>
	<div class="col-md-6">
		<div class="panel panel-info">
			<!-- Default panel contents -->
			<div class="panel-heading">
				Publicacions
			</div>
			<div class="panel-body">
				{% for publicacio in publicacions %}
				<div class="col-xs-12 col-sm-6 col-md-8">
					<div class="panel panel-default">
						<!-- Default panel contents -->
						<div class="panel-heading">
							{{ publicacio.dataHora }}
						</div>
						<div class="panel-body">
							{% if publicacio.imatge %}
							<p><img class="img-responsive" alt="Imatge publicacio" src="{{ publicacio.imatge.url }}" width="200px" height="200px"/>
							</p>
							{% endif %}
							<p>
								{{ publicacio.text }}
							</p>
						</div>

					</div>
				</div>
				{% endfor %}
			</div>

		</div>
	</div>
	<div class="col-md-3">
		{% if peticions %}
		<div class="panel panel-info">
			<!-- Default panel contents -->
			<div class="panel-heading">
				Peticions d'amistat
			</div>
			<div class="panel-body">
				<table>

					{% for noms in nom %}
					<tr>
						<td>Peticio de: {{ noms }}</td>
						<td><a href="{% url 'perfil:acceptarAmic' idPeticio.pop %}" class="btn btn-success">Acceptar</a><a class="btn btn-danger">Denegar</a></td>
					</tr>
					{% endfor %}
				</table>

			</div>
		</div>
		{% endif %}
		<div class="panel panel-info">
				<!-- Default panel contents -->
				<div class="panel-heading">
					<span class="glyphicon glyphicon-user"></span> Amics
				</div>
				<div class="panel-body">
					{% if amigos %}
						{% for amic in amigos %}
							<a href="{% url 'perfil:perfilAjeno' ids.pop %}">{{ amic }}</a>
						{% endfor %}
					{% else %}
					<p>
						Encara no tens amics
					</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
