{% extends "base.html" %}

{% block  title %} Login - Social-Football {% endblock %}
{% block content %}
<style>
	body {
		padding-top: 40px;
		padding-bottom: 40px;
		background-color: #eee;
	}

	.form-signin {
		max-width: 330px;
		padding: 15px;
		margin: 0 auto;
	}
	.form-signin .form-signin-heading, .form-signin .checkbox {
		margin-bottom: 10px;
	}
	.form-signin .checkbox {
		font-weight: normal;
	}
	.form-signin .form-control {
		position: relative;
		height: auto;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 10px;
		font-size: 16px;
	}
	.form-signin .form-control:focus {
		z-index: 2;
	}
	.form-signin input[type="email"] {
		margin-bottom: -1px;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}
	.form-signin input[type="password"] {
		margin-bottom: 10px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
</style>
<h2 class="form-signin-heading">Siusplau introdueix usuari i contrasenya</h2>
<div class="container">
	<form action="" method="post" class="form-signin" role="form">
		{% csrf_token %}
		{% for field in form.visible_fields %}
		<div class="form-group">
			{{ field.errors }}
			{{ field }}
		</div>
		{% endfor %}
		<input class="form-control btn btn-primary" type="submit" value="Entra" />
	</form>
</div>

{% endblock %}